* {
  font-family: "Roboto","Nanum Gothic",sans-serif;
}

.logo {
  width: 100%;
}

#mdb-sidenav-toggler {
  display: none;
  background-color: transparent;
}

.mdb-docs-layout {
  padding-left: 240px; 
}

.sidenav-collapse, .sidenav .rotate-icon {
  transition-property: none;
}

@media (max-width: 1440px) {
  #mdb-sidenav-toggler {
    display: unset !important;
  }

  #mdb-sidenav {
    transform: translate(-100%);
  }

  .mdb-docs-layout {
    padding-left: 0px !important;
  }
}

.editormd-menu > li:nth-child(n+11) {
  display: none;
}

.editormd-menu > li.divider:nth-child(n+11) {
  display: none;
}


.editormd-menu > li.divider:nth-child(n+20) {
  display: inline-block;
}

.editormd-menu > li:nth-child(n+17) {
  display: inline-block;
}

.editormd-menu > li:nth-child(n+23) {
  display: none;
}
